{% extends "layout.html" %}

{% block body %}
<div class="title green">
  <h2>Protect agriculture</h2>
</div>

<div class="info-content">
  <h4>Fire-resistant zones</h4>
  <p>To resist the spread of fire to crops and your home, consider creating fire-resistant zones with stone walls, patios, decks and roadways. Use rock, mulch, flower beds and gardens as ground cover for bare spaces and as effective firebreaks.</p>
  <p>Fire-resistant plants can also be strategically planted to resist the spread of fire to your home. Consider landscaping your home with these fire-resistant plants: <em style="color: gray;">French Lavender, Red Monkey Flower, Sage, Society Garlic, Ornamental Strawberry, Yellow Ice Plant, Coreopsis, California Lilac, California Fuchsia, & California Red Bud.</em>
</div>
<div class="checklist-content singular">
  <div class="board">
    <h4>Protect livestock</h4>
    <label class="container"> Clear defensible space around your barns, pastures and property just as you do your home.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Plan ahead: Have several evacuation routes, give neighbors your contact information, and contact local fairgrounds about thier policies to temporarily take livestock during an emergency.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Have vaccination/medical records and proof of ownership (in form of registration papers and photographs) of your livestock.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">If you must leave your animals, leave them in a preselected, cleared area with enough hay for 48 to 72 hours. Keep in mind that power may be lost.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
{% endblock %}