{% extends "layout.html" %}

{% block title %}
  <title>Keep children safe</title>
{% endblock %}

{% block body %}
<div class="title yellow">
  <h2>Keep children safe</h2>
</div>

<div class="info-content">
  <h4>How can I prepare my child?</h4>
  <p>For a safe evacuation, make sure your child understands how to quickly respond in case of fire by practicing your family’s fire escape plan.Follow the checklist below to ensure child safety.
</div>

<div class="checklist-content singular">
  <div class="board">
    <h4>Child preparation</h4>
    <label class="container">Have a plan for young children who cannot get outside by themselves. In your plan, talk about who will help each child get out safely.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Find two ways out of every room in your home, in case one exit is blocked or dangerous to use.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Choose a meeting place outside your home. Practice going to the outside meeting place and teach them to never go back inside a building that is on fire.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
{% endblock %}