{% extends "layout.html" %}

{% block body %}
<div class="title orange">
  <h2>Make an emergency plan</h2>
</div>

<div class="info-content">
  <h4>What should I keep in mind when creating a plan?</h4>
  <p>Your emergency plan must be familiar to all members of your household well in advance of a wildfire. Plans can differ depending on a variety of issues, needs, and situations.</p>
  <p>Use the checklists below to create your own emergency plan.</p>
</div>
<div class="checklist-content equal">
  <div class="board">
    <h4>Family/Community</h4>
    <label class="container">Designate an emergency meeting location outside the fire or hazard area. This is a place in your neighborhood where your household members will meet in case of an emergency. (Ex. A big tree, your mailbox, a neighbor’s house)
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Create several different escape routes from your home and community.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Appoint an out-of-area friend or relative as a point of contact for communication among family members in case of separation.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="board">
    <h4>Physical items</h4>
    <label class="container">Have fire extinguishers on hand (Fire extinguisher tutorial)
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Ensure that your family knows where your gas, electric, and water main shut-off controls are located and how to safely shut them down in an emergency.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Assemble an emergency supply kit for each person.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Maintain a list of emergency contact numbers posted near your phone and in your emergency supply kit.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Create and print out your evacuation route
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
{% endblock %}