{% extends "layout.html" %}

{% block title %}
  <title>Emergency supply kit</title>
{% endblock %}

{% block body %}
<div class="title red">
  <h2>Build an emergency supply kit</h2>
</div>

<div class="info-content">
  <h4>Why should you build an emergency supply kit?</h4>
  <p>Having an emergency supply kit prepared in case of a wildfire can make evacuation more efficient. The checklist on the right is designed for one person.</p>

  <p><strong>TIP:</strong> Backpacks are recommended to store the following items, as they are quick to grab. Food is recommended to be stored in a carrier unit on wheels, which are easy to transport.</p>
</div>
<div class="checklist-content">
  <div class="must-haves board">
    <h4>Must-haves</h4>
    <label class="container">Face masks
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Three-day supply of non-perishable food and three gallons of water
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Map marked with at least two evacuation routes
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Prescriptions or special medications
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Change of clothing
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Extra eyeglasses or contact lenses
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">An extra set of car keys
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Credit card/cash
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">First aid kit
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Flashlight
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Battery-powered radio with extra batteries
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Sanitation supplies
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Copies of important documents (birth certificates, passports, etc.)
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="good-to-have board">
    <h4>Good-to-have</h4>
    <label class="container">Easily-carried valuables
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Personal computer information stored on hard drives
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Personal device chargers
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
{% endblock %}