{% extends "layout.html" %}

{% block title %}
  <title>How to evacuate</title>
{% endblock %}

{% block body %}
<div class="title purple">
  <h2>How to evacuate</h2>
</div>

<div class="info-content">
  <h4>When should I evacuate?</h4>
  <p>Leave as soon as evacuation is recommended by fire officials to avoid being caught in fire, smoke or road congestion. In case of intense wildfire, don’t wait to be ordered by authorities to leave.</p>
  <br>
  <h4>What can I expect?</h4>
  <ul>
    <li>Officials will determine the areas to be evacuated and escape routes to use depending upon the fire’s location, behavior, winds, terrain, etc.</li>
    <li>You will be advised of potential evacuations as early as possible. You must take the initiative to stay informed and aware. Listen to your radio/TV for announcements from law enforcement and emergency personnel.</li>
    <li>You may be directed to temporary assembly areas to await transfer to a safe location.</li>
  </ul>
  <br>
  <h4>Steps for evacuation</h4>
  <ol>
    <li>Review your Evacuation Plan Checklist.</li>
    <li>Ensure your Emergency Supply Kit is in your vehicle.</li>
    <li>Cover-up to protect against heat and flying embers. Wear long pants, long sleeve shirt, heavy shoes/boots, cap, dry bandanna for face cover, goggles or glasses.</li>
    <li>Locate your pets (if any) and take them with you.</li>
  </ol>
</div>
{% endblock %}