{% extends "layout.html" %}

{% block body %}
<div class="title coral">
  <h2>Keep pets safe</h2>
</div>

<div class="info-content">
  <h4>How can I protect my pets?</h4>
  <p>During a wildfire, local animal rescue organizations work with law enforcement and fire departments to rescue as many animals as they can by cutting fences or opening gates to free trapped animals.</p>
  <p>When possible, you are advised to bring your pet with you, along with items from the pet emergency kit below.</p>
  <br>
  <h4>Leaving your pet behind</h4>
  <p>Sometimes, taking your pet with you might not be a viable option. In this case, please take the following tips into consideration:</p>
  <ul>
    <li>Bring your pet indoors.</li>
    <li>Use a room with no windows and adequate ventilation, such as a utility room, garage, bathroom, or other area that can be easily cleaned.</li>
    <li>Leave only dry foods and fresh water in non-spill containers. If possible, open a faucet to let water drip into a large container or partially fill a bathtub with water</li>
  </ul>
</div>

<div class="checklist-content pet">
  <div class="board">
    <h4>Pet emergency kit</h4>
    <label class="container">Pet carrier
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Two-week supply of food and water
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Non-spill food and water bowls
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Pet first-aid kit
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Medications and dosing instructions
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Car litter box and litter
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Bags for waste disposal
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Paper towels
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Disinfectants
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Leashes/collars
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Blankets
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Toys and treats
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
{% endblock %}