{% extends "layout.html" %}

{% block body %}
<div class="title blue">
  <h2>Prepare to evacuate</h2>
</div>

<div class="info-content">
  <h4>How can I prepare to evacuate?</h4>
  <p>When an evacuation is anticipated, follow these checklists (if time allows) to give your home the best chance of surviving a wildfire.</p>
</div>
<div class="checklist-content equal">
  <div class="board">
    <h4>Indoors</h4>
    <label class="container">Have your emergency supply kit ready to go.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Shut all windows and doors, leaving them unlocked.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Remove flammable window shades, curtains and close metal shutters.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Remove lightweight curtains.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Move flammable furniture to the center of the room, away from windows and doors.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Shut off gas at the meter and turn off pilot lights.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Leave your lights on so firefighters can see your house under smoky conditions.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Shut off the air conditioning.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="board">
    <h4>Outdoors</h4>
    <label class="container">Gather up flammable items from the exterior of your home and bring them inside.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Turn off propane tanks.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Connect garden hoses to outside water valves or spigots for use by firefighters. Fill water buckets and place them around the house.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Don’t leave sprinklers on or water running, as they can affect critical water pressure.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Have a ladder available and place it at the corner of the house for firefighters to quickly access your roof.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Seal attic and ground vents with pre-cut plywood or commercial seals.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Check on neighbors and make sure they are preparing to leave.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
{% endblock %}