{% extends "layout.html" %}

{% block title %}
  <title>Returning home</title>
{% endblock %}

{% block body %}
<div class="title magenta">
  <h2>Returning home</h2>
</div>

<div class="info-content">
  <h4>When should I return home?</h4>
  <p>Return to your home when fire officials determine it is safe. Notification that it is safe to return home will be given as soon as possible considering safety and accessibility.</p>
  <br>
  <h4>What actions should I take upon returning?</h4>
  <ul>
    <li>Stay alert for downed power lines and other hazards.</li>
    <li>Check propane tanks, regulators, and lines before turning gas on.</li>
    <li>Check your residence carefully for hidden embers or smoldering fires.</li>
  </ul>
</div>
{% endblock %}